/* .grid-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* object-fit:cover; */
/* } */ 
.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat (3, 1fr) ;
    grid-template-rows: 100px; 
    grid-gap: 10px;
    grid-template-areas: 
      "header header header header"
      "main main main score" 
      "main main main score" 
      "main main main score"
      "main main main score";
  }

.pacman{
    width: 32px;
    height: 32px;
    background-image: url(./images/PacManMO.png);
    background-size: cover;
    /* background-image: ; */
    display: inline-flex;
    animation: panManAni 1s 1s infinite;
}
.pacman2{
    width: 32px;
    height: 32px;
    background-image: url(./images/PacMan2MO.png);
    background-size: cover;
    /* background-image: ; */
    display: inline-flex;
}
.inky {
    width: 32px;
    height: 32px;
    background-image: url(./images/InkyMO.png);
    background-size: cover;
    /* background-image: ; */
    display: inline-flex;
}
.blinky {
    width: 32px;
    height: 32px;
    background-image: url(./images/blinkyMO.png);
    background-size: cover;
    /* background-image: ; */
    display: inline-flex;
}

.dot {
    width: 32px;
    height: 32px;
    background-image: url(./images/dotOM.png);
    background-size: cover;
    /* background-image: ; */
    display: inline-flex;
}
.wall{
    width: 32px;
    height: 32px;
    background-image: url(./images/Brick.png);
    background-size: cover;
    display: inline-flex;
}
.coin{
    width: 32px;
    height: 32px;
    background-image: url(./images/Dot.png);
    background-size: cover;
    display: inline-flex;
}
.ground{
    width: 32px;
    height: 32px;
    background-color: black;
    display: inline-flex;
}
div{
    margin: -1px;
    vertical-align: top;
}
.world{
    margin: 0;
    border: 0;
    padding: 0;
    
}
#player1{
    grid-row-start:1;
    grid-row-end: 2;

}
#player2{
    grid-row-start:2;
    grid-row-end: 2;
    
}
img {
    width: 100%;
}

.scoreboard{
    /* display:table-column;
    display:grid; */
    justify-content: space-evenly;
    background-color:rgba(255, 255, 0, 0.815);
    border:solid 40px;
    border-image: url(./images/Brick.png);
    color: white;
    padding: 0;
    margin: 0;
}
body{
    background-color: #020431;
    display: grid;
}
#digits {
    font-size: 40px;
    color: white;
    position: relative;
    top: -30px;
    /* top: 45%;
    left: 50%; */
    /* transform: translate(-50%, -55%); */
}

#round{
    font-size: 40px;
    color: white;
    position: relative;
    /* top: 45%;
    left: 50%; */
    /* transform: translate(-50%, -55%); */
}

p{
    color: white;
    position: relative;
    align-items: center;

}
.rounds{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    /* grid-column-start: 3;
    grid-column-end: 3; */
    grid-row-start: 1;
}

a.btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    height: 105px;
    width: 105px;
    border:solid black;
    border-radius: 50%;
    background-image: url(./images/PacManMO.png);
    background-size: cover;
    text-decoration: none;
    color:white;
    font-size: 25px;
    position: relative;
}
.text{
    margin-top: 50px;
    padding-top: 30px;
    /* position: absolute; */
}
h1 {
    color: white;
    width: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
}
/* nav {
    position: relative;
    width: 300px;
    justify-content: space-between;
    display:flex;
    left: 60px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

} */
/* #homeScreen{
    /* display: flex; */
    /* display: grid;
    grid-template-columns: 5;
} */
.header {
    grid-area: header;
  }
  
.main {
grid-area: main;
justify-content: center;
align-content: center;
display:flexbox;
}
  
.score {
grid-area: score;
padding: 0;

}
  
nav {
align-content: center;
justify-content: center;
display: flex;
}
.divider{
    width:100px;
    height:auto;
    display:inline-block;
}
  
body {
    font-size: 1.4em;
    font-family: 'Varela Round', sans-serif;
font-weight: bold;
padding: 0;
margin: 0;
justify-content: center;
align-content: center;
}
.grid-container > * {
text-shadow: 0 2px 0 rgba(110,133,156,0.12);
/* padding: 0.85em; */
/* border: solid 1px rgba(110,133,156,0.15); */
}
.counter{
    font: white;
    color: white;
    justify-content: center;
    align-content: center;
    display: flex;
}
  