.grid-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* object-fit:cover; */
}

.pacman{
    width: 32px;
    height: 32px;
    background-image: url(./images/PacManMO.png);
    background-size: cover;
    /* background-image: ; */
    display: inline-block;
    animation: panManAni 1s 1s infinite;
}
/* 
.pacman::after{
    display: inline-block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/PacMan2MC.png);
    background-repeat: repeat;
    background-position: 50% 0;
    background-size: cover;
    animation: pacmanAni 1s 1s infinite;
  }
  
  @keyframes pacManAni {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  } */
/* @keyframes pacManAni {
    0% { transform: rotate(90deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(90deg); }
} */
.pacman2{
    width: 32px;
    height: 32px;
    background-image: url(./images/PacMan2MO.png);
    background-size: cover;
    /* background-image: ; */
    display: inline-block;
}
.inky {
    width: 32px;
    height: 32px;
    background-image: url(./images/InkyMO.png);
    background-size: cover;
    /* background-image: ; */
    display: inline-block;
}
.blinky {
    width: 32px;
    height: 32px;
    background-image: url(./images/blinkyMO.png);
    background-size: cover;
    /* background-image: ; */
    display: inline-block;
}

.dot {
    width: 32px;
    height: 32px;
    background-image: url(./images/dotOM.png);
    background-size: cover;
    /* background-image: ; */
    display: inline-block;
}
.wall{
    width: 32px;
    height: 32px;
    background-image: url(./images/Brick.png);
    background-size: cover;
    display: inline-block;
}
.coin{
    width: 32px;
    height: 32px;
    background-image: url(./images/Dot.png);
    background-size: cover;
    display: inline-block;
}
.ground{
    width: 32px;
    height: 32px;
    background-color: black;
    display: inline-block;
}
div{
    margin: -1px;
    vertical-align: top;
}
.worlds{
    grid-row-start:1;
    grid-row-end: 2;
    /* grid-column-start:1;
    grid-column-end: 1; */
}
#player1{
    grid-row-start:1;
    grid-row-end: 2;

}
#player2{
    grid-row-start:2;
    grid-row-end: 2;
    
}
img {
    width: 100%;
}

.scoreboard{
    display:table-column;
    display:grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    position:relative;
    justify-content: space-evenly;
    background-color:rgba(255, 255, 0, 0.774);
    border:solid 20px blue;
    margin: 0;
}
body{
    background-color: #020431;
    display: grid;
}
#digits {
    font-size: 40px;
    color: white;
    position: relative;
    top: 10px;
    /* top: 45%;
    left: 50%; */
    /* transform: translate(-50%, -55%); */
}

#round{
    font-size: 40px;
    color: white;
    position: relative;
    /* top: 45%;
    left: 50%; */
    /* transform: translate(-50%, -55%); */
}

p{
    color: white;
    position: relative;
    align-items: center;

}
.time{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;

}
.rounds{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    /* grid-column-start: 3;
    grid-column-end: 3; */
    grid-row-start: 1;
}

a.btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    height: 75px;
    width: 75px;
    border:solid black;
    border-radius: 50%;
    background-image: url(./images/PacManMO.png);
    background-size: cover;
    text-decoration: none;
    color:white;
    font-size: 22px;
    position: relative;
}
.text{
    margin-top: 50px;
    padding-top: 30px;
    position: absolute;
}
h1 {
    color: white;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
}
nav {
    position: relative;
    width: 300px;
    justify-content: space-between;
    display:flex;
    left: 60px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

}
#homeScreen{
    /* display: flex; */
    display: grid;
    grid-template-columns: 5;
}