.card{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(26, 18, 18);
  
}

label{
  width: max-content;
  color: rgb(0, 255, 179);
  font-size: 13px;
  border-bottom: .5px solid rgb(0, 255, 179);
  margin: 3px 0;
}

.desc{
  font-size: 14px;
  color: white;
}

.star{
  color:gold
}

.username{
  font-size: 14px;
  color: white;
}

.date{
  font-style: 12px;
  color: white;
}

form{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input, textarea{
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder, textarea::placeholder{
  font-size: 12px;
  color: rgb(170,170,170);
}

.submitButton{
  border:none;
  padding: 5px;
  border-radius: 5px;
  color: rgb(163, 162, 162);
  background-color: tomato;
  cursor: pointer;
}

h4{
  color: white;
}

.formButton{
  background-color: rgb(153, 152, 152);
  color: rgb(0, 255, 179);
}